.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
}
.list li {
  margin-right: 5px;
  margin-left: 5px;
}
.list li button {
  padding: 10px 20px;
  border-radius: 40px 10px;
  cursor: pointer;
  transition: transform 150ms;
}
.list li button:hover {
  transform: scaleX(1.1);
}
.list li:first-child button {
  background-color: rgba(34, 214, 34, 0.671);
}
.list li:nth-child(2) button {
  background-color: #f1f1f1;
}
.list li:last-child button {
  background-color: rgba(247, 12, 12, 0.822);
}
